body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: #222222;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  /* display: flex; */
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
  justify-content: space-evenly;
}

.score-section {
  font-size: 24px;
  display: flex;
  margin: 80px 0 0 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-text {
  margin-bottom: 12px;
}

.answer-section {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 60px 0 0 10px;
}

button {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #4eb679;
  cursor: pointer;
  margin: 0 20px 0 0;
}

h4 {
  color: #4eb679;
  text-align: center;
}

button:hover {
  background-color: rgb(216, 210, 210);
}

button:focus {
  outline: none;
}
